*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background-color: #323538;
}

.forms section{
    background-color: white;
    width: 290px;
    padding-bottom: 10px;
    margin-left: 20vw;
    margin-bottom: 30px;
    border: 3px solid black;
    border-radius: 3%;
}

.forms section:first-of-type{
    margin-top: 50px;
}

.forms section h2{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 6px;
}

.forms section form{
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
}


.forms section form input{
    margin-bottom: 4px;
}

.forms section form input[type=submit]{
    margin-top: 5px;
    padding: 5px;
    font-size: 1rem;
}

button{
    text-align: center;
}

.preview{
    position:absolute;
    top: 0px;
    left: 48%;
    background-color: white;
    height: 94vh;
    width: 45%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.personalInfo h2{
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
}

.personalInfo p
{
    font-size: 1.1rem;
    padding-left: 5px;
    margin-bottom: 5px;
}

.personalInfo{
    border-bottom: 1px solid black;
}

.educationInfo{
    border-bottom: 1px solid black;
}

.educationInfo h2{
    margin-bottom: 5px;
}

.educationInfo h3{
    margin-bottom: 2px;
}

.educationInfo p:last-of-type{
    margin-bottom: 5px;
}

.experienceInfo {
    border-bottom: 1px solid black;
}

.experienceInfo h2{
    margin-bottom: 5px;
}

.experienceInfo h3{
    margin-bottom: 2px;
}

.experienceInfo h4{
    margin-bottom: 2px;
}

.experienceInfo p:last-of-type{
    margin-bottom: 5px;
}